.brand-title {
  width: 100%;
  font-family: 'Goldman', cursive;
  font-size: 28px;
  color: White !important;
}

.nav-bar {
  background-color: rgb(61, 0, 61);
}

.nav-link {
  color: white !important;
}